{erl_opts, [debug_info]}.
{deps, [
    {mqtt_client, {git, "https://github.com/atomvm/atomvm_mqtt_client.git", {branch, "master"}}},
    {atomvm_adc, {git, "https://github.com/atomvm/atomvm_adc.git", {branch, "master"}}}
       ]}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{atomvm_rebar3_plugin, [
    {packbeam, [prune]}
]}.
{profiles, [
    {check, [
        {plugins, [erlfmt]}
    ]}
]}.
